* {
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

.leftMenu {
    height: 100vh;
    background-color: #fffefe;

    text-align: center;
    position: relative;
}

.ebpLogo {
    margin-top: 1.8vw;
    margin-bottom: 3vw;
    width: 8vw;
    height: 2.4vw;
}

.nav-item {
    margin-left: 3.3vw;
    margin-top: 2vw;
    text-align: start;
    font-size: 1vw;
    color: #b6b6c2;
}

.nav-item img {
    margin-right: 1.5vw;
}

.nav-active {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #7b788e;
    font-weight: bold;
}

.nav-active img {
    margin-left: 2.8vw;
}

.activeItem {
    width: 0.5vw;
    height: 2vw;

    background-color: #ba4446;
    border-radius: 0vw 0.5vw 0.5vw 0vw;
}

.userInfo {
    display: flex;
    text-align: start;

    position: absolute;
    bottom: 6.5vw;
}

.userInfo img {
    width: 2.6vw;
    height: 2.6vw;
}

.userInfo p {
    color: #5d5874;
    font-size: 0.8vw;
}

.main {
    height: 100vh; 
    background-color: #f9f9fb;
}

.mainHeader {
    margin-top: 1.8vw;
    display: flex;
    justify-content: space-between;
}

.mainHeader img {
    width: 7vw;
    height: 3vw;
}

.rightMenu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.rightMenu p {
    color: #7b768e;
    font-size: 0.6vw;
    font-weight: 600;
}

.rightMenu button {
    margin-bottom: 0.8vw;
    width: 6.2vw;
    height: 2.4vw;

    background-color: #f9f9fb;
    color: #7a798d;
    border: 1px solid #c0bec3;
    border-radius: 0.6vw;
    font-size: 0.8vw;
    font-weight: 700;

}

.h1Holder {
    margin: 1.5vw 0vw;
    display: flex;
    height: 1.6vw;
}

h1 {
    margin-right: 2vw;
    display: flex;
    
    color: #5d5874;
    font-size: 1.7vw;
    font-weight: 600;
    
}

button {
    padding: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fefffe;
    font-size: 0.8vw;
    font-weight: 600;
    color: #bd4b4c;
    border: none;
    border-radius: 0.6vw;
    box-shadow: 0 5px 15px 2px #e6e4e6;
}

.funnel {
    margin-right: 0.5vw;
    width: 1.1vw;
}

.infobar {
    margin-bottom: 5vw;
    width: 100%;
    height: 5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bar {
    width: 100%;
    height: 3vw;

    display: flex;
    justify-content: center;

    background-color: #fefffe;
    border-radius: 0.7vw;
    box-shadow: 0 10px 15px 2px #e6e4e6;
    position: absolute;
}

.barTextHolder {
    width: 35%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barTextHolder p {
    margin: 0;
    width: 6.9vw;

    text-align: end;
    color: #77758b;
    font-size: 1vw;
    font-weight: 500;
}

.verMais {
    margin: 0;

    color: #77758b;
    font-size: 0.8vw;
    font-weight: 600;
    
    position: absolute;
    right: 1vw;
    top: 0.9vw;
}

.clouds {
    width: 5vw;
    height: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #8bae87;
    border-radius: 100%;
    position: absolute;
}

.clouds img {
    width: 3.8vw;
}

.grid {
    padding: 0;
    margin-top: 1.5vw;
    max-width: 100%;

    gap: 1.5vw;
    text-align: center;
}

.card {
    padding: 0;
    height: 10.3248vw;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #5d5874;
    font-size: 1.35vw;
    font-weight: 600;
    border: none;
    box-shadow: 0 5px 10px 2px #e6e4e6;
}

.card p {
    margin: 1vw;
    width: 80%;
    height: 40%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusPanel {
    margin-bottom: 1vw;
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
}

.enabled {
    width: 33.33%;
    height: 100%;
    border-radius: 0.5vw;
}

.greenStatus {
    background-color: #35b43a;
    box-shadow: 0 3px 5px -1px #35b43a;
}

.y-r-disabled {
    width: 66.6%;
    height: 60%;
    background: linear-gradient(to right, #ffdf97 0%, #ffdf97 50%, #fec5be 50%, #fec5be 100%);
    border-radius: 0 0.3vw 0.3vw 0;
}

.g-disabled {
    width: 33.33%;
    height: 60%;
    background-color: #d5f0d7;
    border-radius: 0.3vw 0 0 0.3vw;
}

.yellowStatus {
    background-color: #ffb301;
    box-shadow: 0 3px 5px -1px #ffb301;
}

.r-disabled {
    background-color: #fec5be;
    width: 33.33%;
    height: 60%;
    border-radius: 0 0.3vw 0.3vw 0; 
}

.redStatus {
    background-color: #ff4434;
    box-shadow: 0 3px 5px -1px #ff4434;
}

.g-y-disabled {
    background: linear-gradient(to right, #d5f0d7 0%, #d5f0d7 50%, #ffdf97 50%, #ffdf97 100%);
    width: 66.66%;
    height: 60%;
    border-radius: 0.3vw 0 0 0.3vw;
}

.shadowLeft {
    box-shadow: inset 15px 0 15px -5px #e6e4e6;
    height: 100vh;
}

footer {
    width: 99vw;
    display: flex;
    justify-content: space-between;

    overflow: none;
    position: absolute;
    left: 1vw;
    bottom: 1vw;
}

.footerMenu {
    display: flex;
}

.footerItem {
    padding: 0.5vw 1.3vw 0.5vw 1.3vw;
    margin-right: 1vw;
    display: flex;
    align-items: center;

    background-color: #fff;
    border: 1px solid #e6e4e6;
    font-size: 1.2vw;
    font-weight: 700;
    color: #5d5874;
}

.logoFooter {
    width: 4.3vw;
}